#gameBorder {
    border: solid coral 4px;
    height:300px;
    width: 350px; 
    text-align: center;
    background-color: gray;
}
body {
    background-color: black;
}
#nGame {
    border: solid coral 4px;
    width: 800px;
    background-color: gray;
}
#spaceCenter {
    padding-top: 30px;
}
