#border{
    border: solid gray 4px;
    height:300px;
    width: 300px; 
}
#buttonPading {
    padding-top: 20px;
}
body {
    background-color: black;
}
table {
    padding-top: 50px;
    text-align: center;
}
table td {
    color: red;
    border: solid gray 2px;
    text-align: center;
}
